<html ng-app="nbaApp" class="background">
<head>
  <link rel="stylesheet" href="css/style.css">
  <script src="js/jquery/dist/jquery.js"></script>
  <script src="js/angular/angular.js"></script>
  <script src="js/angular-animate/angular-animate.js"></script>
  <script src="js/angular-resource/angular-resource.js"></script>
  <script src="js/angular-route/angular-route.js"></script>
  <!-- <script src="app.module.js"></script> -->
  <!-- <script src="app.config.js"></script> -->
  <script src="app.js"></script>
</head>

<div class="nbaApp">
  <div ng-controller="myController">
    <div class="container">
      <img src="img/badlogo.jpg" style="margin: auto; display: block" width="400">
      <img src="img/fillercomp.png" style="margin: auto; display: block" width="35">
      <table style="width: 100%; max-width: 900px;" align="center" cellpadding = "2">
        <tbody>
          <tr>
            <td colspan="3" align="right">
              <input type="text" ng-keydown="leftkeypress($event)" ng-model="inLeft" placeholder="Search for a player or team here">
            </td>
            <td class="table-separator"></td>
            <td colspan="3">
              <input type="text" ng-keydown="rightkeypress($event)" ng-model="inRight" placeholder="Search for a player or team here">
            </td>
          </tr>
          <tr>
            <td class="imgContainer"> <img  ng-show="lsShow" width="200" ng-src="{{leftimg}}"><!--src="img/curry.jpg"--></td>
            <td  class="container" align="right">
              Points per game <br>
              Rebounds per game <br>
              Assists per game <br>
              Blocks per game <br>
              Steals per game <br>
              Turnovers per game <br>
              Three pointers per game <br>
              Free throws made per game <br>
            </td>
            <td class="numContainer" align="center" border-right="1">
              <div class="container statNumber" ng-repeat="item in lsData">{{item}}</div>
            </td>
            <td class="table-separator"></td>
            <td class="numContainer" align="center">
              <div class="container statNumber" ng-repeat="item in rsData">{{item}}</div>
            </td>
            <td ng-show="rsclass="container">
              Points per game <br>
              Rebounds per game <br>
              Assists per game <br>
              Blocks per game <br>
              Steals per game <br>
              Turnovers per game <br>
              Three pointers per game <br>
              Free throws made per game <br>
            </td>
            <td class="imgContainer"> <img ng-show="rsShow" width="200" align="right" ng-src="{{rightimg}}"> </td>
          </tr>
          <tr class="chartRow">
            <td colspan="3" align="right"><img width="300" ng-show="lsShow" src="img/fillerchart.png"> </td>
            <td class="table-separator"></td>
            <td colspan="3"> <img width="300" ng-show="rsShow" src="img/fillerchart.png"></td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>
</div>

</html>
